@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap");
@mixin pad {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin padmini {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}
@mixin phonemini {
  @media (max-width: 375px) {
    @content;
  }
}

$primary: #aa0601;
$secondary: #650300;
$bg-color: #fbf2f2;
$font-s: 20px;
$font-m: $font-s * 1.2; /*24px*/
$font-l: $font-s * 1.8; /*36px*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Noto Sans TC", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 16px;
  @include padmini {
    padding: 0;
  }
}
.text-center {
  text-align: center;
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  color: $secondary;
  @include padmini {
    font-size: 56px;
  }
  @include phone {
    font-size: 48px;
  }
  @include phonemini {
    font-size: $font-m;
  }
}
.h2 {
  font-size: 48px;
  font-weight: 700;
  color: $secondary;
  @include phone {
    font-size: $font-l;
  }
  @include phonemini {
    font-size: $font-m;
  }
}
.h2-subtitle {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  color: $primary;
  text-align: center;
}
.h3 {
  font-size: $font-m;
  font-weight: 700;
  color: $secondary;
}
.mr-2 {
  margin-right: 16px;
}
.mr-2-5 {
  margin-right: 20px;
}
.mr-3 {
  margin-right: 24px;
}
.mr-4 {
  margin-right: 32px;
}
.mr-6 {
  margin-right: 48px;
}
.mr-8 {
  margin-right: 64px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-6 {
  margin-bottom: 48px;
}
.mb-10 {
  margin-bottom: 80px;
}
.ptb {
  padding: 80px 16px;
  @include padmini {
    padding: 80px 36px;
  }
  @include phonemini {
    padding: 40px 12px;
  }
}
.p-input {
  padding: 6px 0 6px 12px;
}
header {
  background: $primary;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
    @include padmini {
      padding: 4px 24px;
    }
    @include phone {
      padding: 4px 16px;
    }
    @include phonemini {
      padding: 0;
      flex-direction: column;
    }
    .logo {
      width: 80px;
      @include phonemini {
        padding: 16px 0;
      }
    }
    .nav {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      @include phonemini {
        border: 1px solid white;
        width: 100%;
      }
      li {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
        @include phonemini {
          margin-right: 0;
          width: 50%;
          text-align: center;
        }
        &:nth-child(1) {
          @include phonemini {
            border-bottom: 1px solid white;
            border-right: 1px solid white;
          }
        }
        &:nth-child(2) {
          @include phonemini {
            border-bottom: 1px solid white;
          }
        }
        &:nth-child(3) {
          @include phonemini {
            border-right: 1px solid white;
          }
        }
        a {
          display: inline-block;
          color: white;
          padding: 12px 4px;
          &:hover {
            border-bottom: 3px solid white;
            padding-bottom: 9px;
            @include phonemini {
              background: white;
              color: $primary;
              font-weight: 900;
            }
          }
          @include phonemini {
            width: 100%;
          }
        }
      }
    }
  }
  .banner {
    background-image: url("../images/home-header.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    .container {
      height: 100vh;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include padmini {
          padding-right: 24px;
        }
        @include phone {
          padding-right: 16px;
        }
        @include phonemini {
          padding-right: 12px;
        }
        p {
          font-size: $font-l;
          color: $secondary;
          @include phone {
            font-size: $font-m;
          }
          @include phonemini {
            font-size: 16px;
          }
        }
        a {
          display: block;
          color: white;
          font-size: $font-s;
          background: $primary;
          padding: 6px 14px;
          &:hover {
            background: white;
            color: $primary;
            font-weight: 900;
          }
          &:active {
            background: white;
            color: $primary;
            font-weight: 900;
            border: 3px solid $primary;
            padding: 3px 11px;
          }
        }
      }
    }
  }
}
.professional {
  background: $bg-color;
  .content {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: 22%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include padmini {
          width: 48%;
        }
        @include phonemini {
          width: 100%;
        }
      }
    }
  }
}
.classic {
  @include phonemini {
    padding-bottom: 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include phonemini {
      padding-bottom: 0;
      margin-bottom: 40px;
    }
    li {
      width: 32%;
      @include padmini {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
      }
      img {
        @include padmini {
          width: 336px;
        }
        @include phonemini {
          width: 348px;
        }
      }
      .h2-subtitle {
        @include pad {
          font-size: $font-l;
        }
        @include padmini {
          font-size: 48px;
        }
      }
    }
  }
}
.together {
  background-image: url("../images/index-bg.png");
  background-size: cover;
  background-position: center;
  height: 608px;
  @include padmini {
    height: 960px;
  }
  @include phonemini {
    height: 820px;
  }
  .h2 {
    color: white;
    margin-bottom: 24px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 50%;
      @include padmini {
        width: 100%;
        margin-bottom: 24px;
      }

      .sec1 {
        @include phonemini {
          content: url("../images/home-section4-1-sm.png");
        }
      }
      .sec2 {
        @include phonemini {
          content: url("../images/home-section4-2-sm.png");
        }
      }
      .h2-subtitle {
        background: white;
        padding: 8px o;
        &:nth-of-type(1) {
          border-right: 1px solid rgba(187, 187, 187, 0.554);
        }
      }
    }
  }
}
.recommend {
  h2 {
    margin-bottom: 24px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: 24%;
      border-radius: 4px;
      box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include padmini {
        width: 48%;
        margin-bottom: 24px;
      }
      @include phonemini {
        width: 100%;
        margin-bottom: 16px;
      }
      .cap {
        .name {
          font-weight: 500;

          padding: 0 16px;
        }
        p {
          padding: 0 16px;
        }
      }
      time {
        color: #707070;
        padding: 0 16px;
      }
    }
  }
}
.contactForm {
  background: $bg-color;
  .container {
    display: flex;
    justify-content: center;
    .content {
      width: 65%;
      h2 {
        margin-bottom: 24px;
      }
      p {
        font-size: $font-s;
      }
      form {
        ul {
          @include phonemini {
            margin-bottom: 24px;
          }
          label {
            display: block;
            &[for="agree"] {
              display: inline-block;
            }
          }
          input {
            width: 100%;
            display: block;
            background: rgba(0, 0, 0, 0);
            border: 1px solid #000;
            &::placeholder {
              color: rgba(0, 0, 0, 0.2);
            }
            &[type="checkbox"] {
              display: inline-block;
              cursor: pointer;
              width: 24px;
            }
          }
          textarea {
            background: rgba(0, 0, 0, 0);
            width: 100%;
            &::placeholder {
              color: rgba(0, 0, 0, 0.2);
            }
          }
          .agree {
            display: flex;
            margin-right: 4px;
          }
        }
        button {
          display: block;
          width: 60%;
          margin: 0 auto;
          cursor: pointer;
          background: $primary;
          color: white;
          padding: 16px 0;
          border: none;
          &:hover {
            background: white;
            color: $primary;
            font-weight: 900;
          }
          &:active {
            background: white;
            color: $primary;
            font-weight: 900;
            border: 3px solid $primary;
            padding: 13px 0;
          }
        }
      }
    }
  }
}
footer {
  background: $primary;
  padding: 48px 0 32px 0;
  @include padmini {
    padding: 48px 36px 32px 36px;
  }
  @include phone {
    padding: 24px 16px 24px 16px;
  }
  @include phonemini {
    padding: 24px 12px 24px 12px;
  }
  .container {
    position: relative;
    .info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include phone {
        margin-bottom: 0;
      }
      .nav {
        width: 40%;
        @include pad {
          width: 60%;
        }
        @include phone {
          display: none;
        }

        ul {
          display: flex;
          justify-content: space-between;
          a {
            color: white;
          }
        }
      }
      .community {
        @include phone {
          position: absolute;
          right: 0;
          top: 0px;
        }
        ul {
          display: flex;
          justify-content: space-between;
          a {
            display: block;
            width: 48px;
            @include phone {
              width: 24px;
            }
          }
        }
      }
    }
    .contact {
      border-bottom: 1px solid white;
      padding-bottom: 32px;
      @include phone {
        padding-bottom: 24px;
        margin-bottom: 16px;
      }
      i {
        font-size: 40px;
        color: white;
        @include phone {
          font-size: 20px;
          margin-right: 10px;
        }
      }
      a {
        color: white;
        font-family: "Noto Sans TC";
        font-size: $font-l;
        @include phone {
          font-size: 16px;
        }
      }
    }
    .declare {
      display: flex;
      justify-content: space-between;
      @include phone {
        display: block;
      }
      p {
        color: white;
        @include phone {
          margin-bottom: 8px;
        }
      }
      ul {
        display: flex;
        justify-content: space-between;
        @include phone {
          display: block;
        }
        li:nth-child(1) {
          @include phone {
            margin-bottom: 8px;
          }
        }
        a {
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}
